$--primary: #0070c8;
$--error: #e9252c;
$--info: #d8d8d8;

$--primary-text: #212121;
$--secondary-text: #6b6b6b;

$--divider: #e9eced;

$--focus: rgba(0, 112, 200, 0.3);
$--light-background: #F5F5F5;

$--textfield-divider: #979797;

$--gutter: 30px;
$--columncount: 12;

$--small: 576px;
$--medium: 768px;
$--large: 992px;
$--extra: 1200px;

$--bottom-bar-height: 65px;
$--header-height: 75px;
